{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Робот{% endblock title %}
{% block content %}
<script src="{% static 'database/js/select2.min.js' %}"></script>
<script src="{% static 'database/js/popupProcessor.js' %}"></script>
<link rel="stylesheet" href="{% static  'database/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static  'database/css/select2-bootstrap-5-theme.rtl.min.css' %}">
<div class="container" style="max-width: 80%">
    <h2>Робот</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <!-- {{form|crispy}} -->
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="row">

            <div class="col">
                {{ field|as_crispy_field }}
            </div>
            {% if field.name == 'client' %}
            <div class="col-1" style="align-self: center;"><a href="{% url 'client_create_popup' %}"
                    onclick="return showAddPopup(this);">Добавить</a></div>
            {% endif %}
            {% if field.name == 'integrator' %}
            <div class="col-1" style="align-self: center;"><a href="{% url 'integrator_create_popup' %}"
                    onclick="return showAddPopup(this);">Добавить</a></div>
            {% endif %}
            {% if field.name == 'controller' %}
            <div class="col-1" style="align-self: center;"><a href="{% url 'robotcontroller_create_popup' %}"
                    onclick="return showAddPopup(this);">Добавить</a></div>
            {% endif %}
            {% if field.name == 'arm' %}
            <div class="col-1" style="align-self: center;"><a href="{% url 'robotarm_create_popup' %}"
                    onclick="return showAddPopup(this);">Добавить</a></div>
            {% endif %}
            {% if field.name == 'location' %}
            <div class="col-1" style="align-self: center;"><a href="{% url 'location_create_popup' %}"
                    onclick="return showAddPopup(this);">Добавить</a></div>
            {% endif %}
        </div>

        {% endfor %}
        <button class="btn btn-success" onclick=clearStorage() type="submit">Сохранить</button>
    </form>


</div>
{% endblock content %}