{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrikn-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- ------------- -->
        <link rel="stylesheet" href="{% static  'database/css/jquery.datetimepicker.min.css' %}">
    <!-- jQuery JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- --------- -->

    <script src="{% static 'database/js/jquery.datetimepicker.full.js' %}"></script>
        
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'robot_list' %}">Robowizard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    {% if user.permission_administration %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Администратор</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"  onclick=clearStorage()   href="{% url 'robot_list' %}">Роботы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'client_list' %}">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'integrator_list' %}">Интеграторы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'location_list' %}">Локации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'robotarm_list' %}">Модели</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'robotcontroller_list' %}">Контроллеры</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-text">
                    {% if user.is_authenticated %}
                    <button class="btn btn-danger" type="button"
                        onclick="location.href = `{% url 'logout' %}`">Выход</button>
                    {% else %}
                    <button class="btn btn-primary" type="button"
                        onclick="location.href = `{% url 'login' %}`">Вход</button>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>

</body>

</html>