{% extends 'base.html' %}
{% load static %}
{% block title %}Список локаций{% endblock title %}
{% block content %}
<script src="{% static 'database/tablesFilter.js' %}"></script>
<div class="container">
    <h1>Список локаций | Всего локаций: {{ object_list|length }} | <a href="{% url 'location_create' %}">Добавить</a></h1>
    <input type="text" class="form-control" id="filterInput" onkeyup="tablesFilter()"
        placeholder="Фильтр по всем столбцам">
    <table id="filteredTable" class="table">
        <thead>
            <tr class="header">
                <th>#id</th>
                <th>Название</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td style="width: 0; white-space: nowrap;">{{ object.pk }}</td>
                <td>{{ object }}</a></td>
                <td style="width: 0; white-space: nowrap;">
                    <a href="{% url 'location_update' object.pk %}">Редактировать</a> |
                    <a href="{% url 'location_delete' object.pk %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}