{% extends 'base.html' %}

{% block content %}
    <div class="container col-6">
        <h1>Удалить</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <p>Вы действительно хотите удалить "{{ object }}"?</p>
            {% if robots %} <!-- Временно до сортировки-->
            <p>Для роботов:</p>
            {% for robot in robots %}
                <li>{{robot}}</li>
            {% endfor %}
            <p>Полю <b>Клиент</b> будет присвоено значение "Неизвестно"</p>
            {% endif %}
            <input class="btn btn-success ml-2" type="submit" value="Подтвердить"/>
        </form>
    </div>
{% endblock content %}