{% extends 'base.html' %}
{% block title %}Список клиентов{% endblock title %}
{% block content %}
<div class="container">
    <h1>Список клиентов | <a href="{% url 'client_create' %}">Добавить</a></h1>
    <table id="info-table" class="table table-robot-list table-sort">
        <thead class="thead-default">
            <tr>
                <th>#id</th>
                <th>Название</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <th style="width: 0; white-space: nowrap;">{{ object.pk }}</th>
                <th>{{ object }}</a></th>
                <th style="width: 0; white-space: nowrap;">
                    <a href="{% url 'client_update' object.pk %}">Редактировать</a> |
                    <a href="{% url 'client_delete' object.pk %}">Удалить</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}