{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
<div class="container">
    <h1>Информация о роботе</h1>
    <a href="{% url 'robot_update' object.pk %}" class="btn btn-success" role="button">Редактировать</a>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 0; white-space: nowrap;"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><b>Имя робота</b></td><td>{{ object.name }}</td></tr>
                    <tr><td><b>Описание</b></td><td>{{ object.description }}</td></tr>
                    <tr><td><b>Модель</b></td><td>{{ object.arm }}</td></tr>
                    <tr><td><b>Серийный номер робота</b></td><td>{{ object.arm_sn }}</td></tr>
                    <tr><td><b>Контроллер</b></td><td>{{ object.controller }}</td></tr>
                    <tr><td><b>Серийный номер контроллера</b></td><td>{{ object.controller_sn }}</td></tr>
                    <tr><td><b>Клиент</b></td><td>{{ object.client }}</td></tr>
                    <tr><td><b>Интегратор</b></td><td>{{ object.integrator }}</td></tr>
                    <tr><td><b>Дата поставки</b></td><td>{{ object.shipping_date }}</td></tr>               
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}